<h1>Editing post</h1>

<% form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_area :title, :rows => 2 %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :in_reply_to %>
  <p>
    <%= f.label :tweet_this %><br />
    <%= f.check_box :tweet_this %>
  </p>
 	<p>Image:<br />
	<%= image_tag @post.image.url(:medium) %><br />
	<br />
	Change this image: <%= f.file_field :image %></p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>