<h1>Listing posts for:</h1> 
<%= image_tag @current_user.user_pic_url(:thumb) %>
<h2><%= current_user.name %></h2>

<table>
  <tr>
    <th>Title</th>
    <th>Tweet this</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.twitter_response %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>My Current Location:</h2>
<%= include_google_javascript %>
<%= google_map :width => 450, :height => 450 %>
<%= all_posts_map @current_user.latitude, @current_user.longitude, @posts, current_user %>

<%= link_to 'New post', new_post_path %>