<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Message</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>User</th>
    <th>Tweet this</th>
    <th>In reply to</th>
    <th>Image file name</th>
    <th>Image content type</th>
    <th>Image file size</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.message %></td>
    <td><%=h post.location %></td>
    <td><%=h post.latitude %></td>
    <td><%=h post.longitude %></td>
    <td><%=h post.user_id %></td>
    <td><%=h post.tweet_this %></td>
    <td><%=h post.in_reply_to %></td>
    <td><%=h post.image_file_name %></td>
    <td><%=h post.image_content_type %></td>
    <td><%=h post.image_file_size %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>