<h3>
  by: <%=h @post.user.name %> <small><%=h @post.location %></small> <%= link_to "in reply to "+ Post.find(@post.in_reply_to).title, post_url(Post.find(@post.in_reply_to)) if @post.in_reply_to %>
</h3>

<h1><%=h @post.title %></h1>



<p>
  <%= simple_format @post.message %>
</p>

<p><%= image_tag @post.image.url if @post.image %>
</p>


<%= include_google_javascript %>

<%= google_map :width => 450, :height => 450 %>
<%= get_map @post.latitude, @post.longitude %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'View all my posts', posts_path %> | <%= link_to "Reply to this post", reply_to_post_url(@post) %>


<% if @post.tweet_this %>
<pre><%= @post.twitter_response %></pre>
<% end %>